.menu-page__container {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

/*.menu-page {*/
/*}*/
.menu-page__title {
    font-size: 6rem;
    line-height: 1.25;
    width: fit-content;
    margin: 0 auto 40px;
    text-align: center;
    color: #403f3d;
}

.button__icon {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #c1b6ad;
}

.tabs__button {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 8px;
    color: #403f3d;
    border: 1px solid #c1b6ad;
    border-radius: 100px;
    background: inherit;
    gap: 8px;
}

@keyframes hover-tab {
    from {
        background-color: unset;
    }
    to {
        background-color: #665f55;
        border-color: #665f55;
    }
}

.tabs {
    display: flex;
    width: fit-content;
    margin: 0 auto 40px;
    gap: 16px;
}

/*MENU-CUP*/
.menu__container {
    margin-bottom: 100px;
}

.menu__coffee,
.menu__tea,
.menu__dessert {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    animation: showMenu 450ms ease-in-out;
    gap: 40px;
}

@keyframes showMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu__tea {
    display: none;
}

.menu__dessert {
    display: none;
}

.menu__cup-card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 310px;
    height: 506px;
    border: 1px solid #c1b6ad;
    border-radius: 40px;
}

.menu__cup-card img {
    width: 308px;
    height: 310px;
    border-radius: 40px;
}

.cup-card__info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #403F3D;
    gap: 12px;
}

.cup-card__name,
.cup-card__cost {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
}

.cup-card__cost {
    position: absolute;
    bottom: 20px;
}

.cup-card__description {
    font-weight: 400;
}

.card__image {
    display: inline-block;
    overflow: hidden;
    height: 310px;
    border-radius: 40px;
    /*width: 310px;*/
    object-fit: cover;
}

.card__image img {
    display: block;
    transition: 400ms ease;
    border-radius: 40px;
    object-fit: cover;
    scale: 1.1;
}

/*MODAL*/
.modal {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    display: none;
    align-items: flex-start;
    align-self: stretch;
    box-sizing: border-box;
    width: 800px;
    height: auto;
    padding: 16px;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    background-color: #e1d4c9;
    gap: 20px;
}

input {
    display: none;
}

.overlay {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 1500vh;
    transform: translate(-50%, -50%);
    background-color: rgba(64, 63, 61, 0.8);
}

.modal__image-box {
    border-radius: 40px;
}

.modal__image {
    width: 310px;
    height: 310px;
    border-radius: 40px;
}

.modal__content {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    color: #403f3d;
    gap: 20px;
}

.modal__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
}

.modal__description {
    font-weight: 400;
}

.modal__cost {
    font-size: 24px;
    line-height: 1.25;
}

.note__text {
    font-size: 10px;
    line-height: 1.4;
}

.close__btn {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 150%;
    color: #403f3d;
}

.additives__title,
.size__title {
    font-size: 1.6rem;
    font-weight: 400;
}

.size,
.additives {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.size__btn-box,
.additives__btn-box {
    display: flex;
    gap: 8px;
}

/*.tabs__button:hover {*/
/*    background-color: #665f55;*/
/*    border-color: #665f55;*/
/*    animation: hover-tab 350ms;*/
/*}*/
/*.tabs__button:hover .button__icon {*/
/*    background-color: #e1d4c9;*/
/*}*/
/*.tabs__button:hover .button__name {*/
/*    color: #e1d4c9;*/
/*}*/
.size__btn-box input:checked + .size__btn,
.additives__btn-box input:checked + .additives__btn {
    animation: hover-tab 350ms;
    border-color: #665f55;
    background-color: #665f55;
}

.size__btn-box input:checked + label .button__icon,
.additives__btn-box input:checked + label .button__icon {
    background-color: #e1d4c9;
}

.size__btn-box input:checked + label .button__name,
.additives__btn-box input:checked + label .button__name {
    color: #e1d4c9;
}

.size__btn:hover,
.additives__btn:hover {
    cursor: pointer;
}

.size__btn-box input:checked + label:hover,
.additives__btn-box input:checked + label:hover {
    cursor: default;
}

.cost {
    display: flex;
    justify-content: space-between;
}

.modal__note {
    display: flex;
    align-items: flex-start;
    padding: 12px 0 12px;
    border-top: 1px solid #C1B6AD;
    gap: 8px;
}

.close__btn {
    width: 100%;
    padding: 10px 78px;
    transition: all 500ms;
    border: 1px solid #403f3d;
    border-radius: 100px;
    background-color: #e1d4c9;
}

.menu__sections {
    margin-bottom: 40px;
}

.menu__tea.current ~ .menu__refresh {
    display: none !important;
}

/*#refresh {*/
/*    display: none;*/
/*}*/
#hidden {
    display: none;
}

.menu__refresh {
    display: none;
    margin-top: 40px;
    border: none;
    /*margin: 0 auto;*/
    background: none;
}

.refresh__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: background-color 300ms;
    border: 1px solid #665f55;
    border-radius: 100px;
    background-color: #e1d4c9;
}

@media (hover: hover) {
    .refresh__box:hover {
        background-color: #665f55;
    }

    .menu__refresh:hover {
        cursor: pointer;
    }

    .tabs__button.active:hover {
        cursor: default;
    }

    .tabs__button:hover {
        animation: hover-tab 350ms;
        border-color: #665f55;
        background-color: #665f55;
    }

    .tabs__button:hover .button__icon {
        background-color: #e1d4c9;
    }

    .tabs__button:hover .button__name {
        color: #e1d4c9;
    }

    .menu__cup-card:hover {
        cursor: pointer;
    }

    .menu__cup-card:hover img {
        transform: scale(0.95);
    }

    .modal__close:hover .close__btn {
        color: #e1d4c9;
        border-color: #665f55;
        background-color: #665f55;
    }
}

.active span {
    color: #e1d4c9;
}

.tabs__button.active .button__icon {
    background-color: #e1d4c9;
}

.tabs__button.active {
    animation: hover-tab 350ms;
    border-color: #665f55;
    background-color: #665f55;
}
