html {
    background-color: #e1d4c9;
    scroll-behavior: smooth;
}

body {
    font-family: Inter, serif;
    font-weight: 600;
}

a {
    position: relative;
    display: block;
}

a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    transition: 400ms ease-out;
    transform: scaleX(0);
    background-color: #403f3d;
}

.header__logo::after {
    display: none;
    content: "";
}

.coffee-menu__link_current::after {
    transform: scaleX(1);
}

.wrapper {
    max-width: 1360px;
    margin: 0 auto;
}

/*HEADER*/
.logo__icon {
    width: 100px;
    height: 60px;
}

/*.burger__line {*/
/*    width: 16px;*/
/*    height: 2px;*/
/*    background-color: #403F3D;*/
/*}*/
.header__menu-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid #665f55;
    border-radius: 100px;
}

.menu-icon__burger {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.menu-icon__burger img {
    transition: all 300ms;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 20px 0 20px 0;
}

.nav__list {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    list-style-type: none;
    gap: 0 40px;
}

.menu__text {
    font-size: 16px;
    line-height: 1.5;
}

.menu__icon {
    width: 20px;
    height: 20px;
}

.coffee-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 28px;
}

.coffee-menu__item,
.burger__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.coffee-menu__link,
.burger__link-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.burger__link-menu {
    gap: 16px;
}

/*BURGER MENU*/
.burger {
    display: none;
}

/*MAIN BLOCK*/
.visibility-hidden {
    visibility: hidden;
}

.main-block {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
}

.main-block__background {
    position: relative;
    width: 100%;
    height: 644px;
    /*width: 100%;*/
    /*background: lightgray url("../images/img-hero.jpg") no-repeat center;*/
    border-radius: 40px;
    background-size: cover;
}

.background__video {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1360px;
    height: 644px;
    transform: translateX(-50%);
    border-radius: 40px;
    object-fit: cover;
}

.main-block__offer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 530px;
    margin: 100px;
    color: #e1d4c9;
    gap: 40px;
}

.offer__menu-link::after {
    display: none;
}

.offer-title {
    font-size: 72px;
    line-height: 105%;
}

._italic-beige {
    font-style: italic;
    color: #b0907a;
}

.main-block__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.offer__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    padding: 20px 78px;
    border: 0;
    border-radius: 100px;
    background-color: #e1d4c9;
    gap: 8px;
}

.offer__button-icon {
    opacity: 0;
}

@keyframes show-coffee-cup {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.button__text {
    font-family: Inter, serif;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /*width: 100%;*/
    transition: transform 200ms;
    color: #403f3d;
    gap: 8px;
}

/*SLIDER*/
.coffee-slider-box {
    position: relative;
    margin: 100px 0;
}

.coffee-slider__title {
    font-size: 60px;
    line-height: 125%;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.button-arrow {
    width: 60px;
    height: 60px;
    transition: all 500ms;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #e1d4c9;
}

/*.coffee-card:not(:first-child) {*/
/*    display: none;*/
/*}*/
.coffee-card {
    /*animation: switch-coffee 350ms ease;*/
    transition: all 500ms;
}

.coffee-pictures {
    /*display: flex;*/
    /*overflow: hidden;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*width: 480px;*/
    /*margin: 0 auto;*/
    /*transition: all 500ms;*/
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    transition: all 500ms;
}

.coffee-slider {
    position: relative;
    z-index: 500;
    /*justify-content: space-between;*/
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 480px;
    margin: 0 auto;
}

.picture-transform {
    transform: translateX(0px);
}

.arrows {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    width: 100%;
}

.btn-next {
    position: absolute;
    right: 0;
}

/*@keyframes switch-coffee {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/
.coffee-picture {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    transition: all 500ms;
    /*transform: translateX(-589px);*/
    object-fit: cover;
}

.coffee-card__title,
.coffee-card__cost {
    font-size: 2.4em;
    line-height: 1.25;
}

.coffee-card__description {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.5;
    margin: 16px 0;
}

.coffee-card__info {
    width: 480px;
    margin-top: 20px;
    text-align: center;
}

.coffee-slider__controls {
    display: flex;
    width: fit-content;
    margin: 40px auto 0 auto;
    /*margin-top: 40px;*/
    gap: 12px;
}

.controls__item {
    width: 38px;
    /*height: 4px;*/
    color: #c1b6ad;
    border: 2px solid #c1b6ad;
    border-radius: 100px;
}

.controls__item-active {
    color: #665f55;
    border: 2px solid #665f55;
}

/*ABOUT*/
.about {
    margin-bottom: 100px;
}

.about__content {
    margin-bottom: 40px;
}

.about__title {
    font-size: 5.95em;
    line-height: 1.25;
}

.gallery {
    display: flex;
    gap: 40px;
}

.gallery__column-1,
.gallery__column-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.gallery__photo-box {
    display: inline-block;
    overflow: hidden;
}

.gallery__photo {
    border-radius: 20px;
    object-fit: cover;
    scale: 1.1;
}

.gallery__photo-box .gallery__photo {
    display: block;
    transition: 400ms ease;
}

.gallery__photo-box-1,
.gallery__photo-box-2 {
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
}

.gallery__photo-box-1 {
    width: 660px;
    height: 590px;
}

.gallery__photo-box-2 {
    width: 660px;
    height: 430px;
}

.gallery__photo-1,
.gallery__photo-4 {
    width: 660px;
    height: 590px;
}

.gallery__photo-2,
.gallery__photo-3 {
    width: 660px;
    height: 430px;
}

/*MOBILE APP*/
.mobile-app {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    gap: 100px;
}

.mobile-app__offer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.mobile-app__screens {
    display: flex;
    width: 50%;
}

.mobile-app__title {
    font-size: 5.95em;
    line-height: 1.25;
}

.mobile-app__subtitle {
    font-size: 1.6em;
    line-height: 1.5;
}

.mobile-app__download {
    display: flex;
    gap: 20px;
}

.appstore__btn,
.google-play__btn {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 200px;
    padding: 12px 20px;
    transition: all 500ms;
    border: 1px solid #665f55;
    border-radius: 100px;
    background-color: inherit;
    gap: 8px;
}

.appstore__text,
.google-play__text {
    font-size: 10px;
    line-height: 1.4;
}

.appstore-title,
.google-play__title {
    font-size: 16px;
    line-height: 1.5;
}

.appstore__content,
.google-play__content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.google-play__text {
    font-size: 10px;
    line-height: 1.4;
}

/*FOOTER*/
.footer {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 45px;
}

.footer-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    max-width: 1360px;
    padding: 95px;
    border-radius: 40px;
    background-color: #665f55;
    gap: 100px;
}

.footer__title {
    font-size: 6rem;
    line-height: 1.25;
    color: #e1d4c9;
}

.footer__socials {
    display: flex;
    gap: 12px;
}

.socials__btn {
    width: 60px;
    height: 60px;
    transition: all 500ms;
    border: 1px solid #c1b6ad;
    border-radius: 100px;
    background-color: inherit;
}

.socials__logo {
    width: 24px;
    height: 24px;
}

.footer__left-block,
.footer__right-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.contacts {
    display: flex;
    flex-direction: column;
    color: #e1d4c9;
    gap: 40px;
}

.contacts__title {
    font-size: 2.4rem;
    line-height: 1.25;
}

.contacts__info {
    font-size: 1.6rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts__item {
    display: flex;
    gap: 8px;
}

.contacts__item a::after {
    background-color: #e1d4c9;
}

.contact-icon {
    margin-right: 8px;
}

@media (hover: hover) {
    button:hover {
        cursor: pointer;
    }

    a:hover::after {
        transform: scaleX(1);
    }

    .offer__button:hover .offer__button-icon {
        display: block;
        animation: show-coffee-cup 0.4s;
        opacity: 100%;
    }

    .offer__button:hover {
        cursor: pointer;
    }

    .offer__button:hover .button__text {
        transform: translateX(-14px);
    }

    .button-arrow:hover path {
        stroke: #e1d4c9;
    }

    .button-arrow:hover {
        cursor: pointer;
        border-color: #665f55;
        background-color: #665f55;
    }

    .gallery__photo-box .gallery__photo:hover {
        transform: scale(0.91);
    }

    .mobile-app__appstore:hover,
    .mobile-app__google-play:hover {
        cursor: pointer;
    }

    .google-play__btn:hover path,
    .appstore__btn:hover path {
        fill: #e1d4c9;
    }

    .google-play__btn:hover,
    .appstore__btn:hover {
        transition: 500ms;
        color: #e1d4c9;
        border-color: #665f55;
        background-color: #665f55;
    }

    .socials__btn:hover .svg-path {
        stroke: #403f3d;
    }

    .socials__btn:hover {
        cursor: pointer;
        transition: 700ms;
        background-color: #e1d4c9;
    }

    .contacts__item a:hover::after {
        transition: 500ms;
        background-color: #e1d4c9;
    }
}
